/* text input */
.input {
    padding-top: 2vh;
    text-align: center;
}

#molecule {
    height: 5vh;
    width: 21ch;
    max-width: 80vw;
    border-radius: 7px;
    padding-left: 2%;
    font-size: larger;
}

/* calculate button */
.button {
    padding-top: 1vh;
}

button {
    height: 5vh;
    width: 5em;
    background: transparent;
    border: 2px solid #f9f9f9;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: .5s;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    /* background */
    background: url("bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.result {
    font-size: x-large;
    padding-top: 3vh;
    padding-bottom: 2vh;
}

.wrapper {
    max-width: 90vw;

    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    margin: 0 auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
